<body>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/profile">Proof</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
			aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link" href="/whiskeys">Whiskeys<span class="sr-only">(current)</span></a>
				<a class="nav-item nav-link" href="/recipes">Cocktail Recipes</a>
				<a class="nav-item nav-link" href="/bars">Locate a Bar</a>
				<a class="nav-item nav-link" href="/">Log Out</a>
			</div>
		</div>
	</nav>


	<div id="container" class="container">
		<h3>Whiskeys</h3>
		<div class="row">
			<div class="col-12 d-flex flex-row flex-wrap">

				{{#each Whiskey}}
				<div class="card col-12 col-sm-4">
					<div class="card-header">
						{{this.whiskey_name}}
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							Rating:
							{{#if this.rating}}
							{{this.rating}}
							{{else}}
							N/A
							{{/if}}
						</li>
						<li class="list-group-item">
							Country:
							{{#if this.country}}
							{{this.country}}
							{{else}}
							N/A
							{{/if}}
						</li>
						<li class="list-group-item">
							Category:
							{{#if this.category}}
							{{this.category}}
							{{else}}
							N/A
							{{/if}}
						</li>
						<li class="list-group-item">
							Price:
							{{#if this.price}}
							${{this.price}}
							{{else}}
							N/A
							{{/if}}
						</li>
						<li class="list-group-item">
							ABV:
							{{#if this.abv}}
							{{this.abv}}%
							{{else}}
							N/A
							{{/if}}
						</li>
						<li class="list-group-item">
							Age:
							{{#if this.age}}
							{{this.age}} years
							{{else}}
							N/A
							{{/if}}
						</li>
						<li class="list-group-item">
							Brand:
							{{#if this.brand}}
							{{this.brand}}
							{{else}}
							N/A
							{{/if}}
						</li>
						<li class="list-group-item">
							<button class="favorite btn btn-primary" data-id="{{this.id}}"
								data-toggle={{#if this.favorite}}"unfave">Unfavorite?{{else}}"fave">Favorite?{{/if}}</button>
						</li>
					</ul>
				</div>
				{{/each}}
			</div>
		</div>
	</div>

	<script>
		$(document).ready(() => {
			$(".favorite").on("click", (event) => {
				$.ajax({
					method: "PUT",
					url: "/whiskeyfave/" + $(event.currentTarget).data("id")
				}).then(() => {
					var butt = $(event.currentTarget);

					if (butt.data("toggle") === "fave") {
						butt.data("toggle", "unfave");
						butt.text("Unfavorite?");
					} else {
						butt.data("toggle", "fave");
						butt.text("Favorite?");
					}
				});
			});
		});
	</script>
</body>

</html>