<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Proof</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#">Whiskeys<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="#">Cocktail Recipes</a>
                <a class="nav-item nav-link" href="#">Log Out</a>
            </div>
        </div>
    </nav>

    <div class="container whiskey">
        <div class="row">
            {{#each Whiskey}}

            <h2>{{this.whiskey_name}}</h2>
            <ul>
                <li>
                    {{this.rating}}
                </li>
                <li>
                    {{this.country}}
                </li>
                <li>
                    {{this.category}}
                </li>
                <li>
                    {{this.price}}
                </li>
                <li>
                    {{this.abv}}
                </li>
                <li>
                    {{this.age}}
                </li>
                <li>
                    {{this.brand}}
                </li>
            </ul>

            {{/each}}
        </div>
    </div>
</body>

</html>